.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-normal);
    padding: 40px 20px;
    gap: 20px;
    background-color: var(--background-normal);
    box-shadow: var(--shadow-normal);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    overflow: hidden;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

.tabWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.tabs {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 36px;
    background-color: transparent;
    overflow-x: auto;
    user-select: none;
    box-shadow: 0 -1px 0 var(--border-normal) inset;
}

.tab {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 30px;
    transition: background-color 0.3s;
}

.tab p {
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: var(--color-placeholder);
    transition: color 0.3s;
}

.tab:hover {
    background-color: var(--block-highlight-background);
}

.tab.active {
    background-color: var(--block-highlight-background);
    border-bottom: 1px solid var(--primary);
}

.tab.active p {
    color: var(--primary);
}

.tabContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 30px);
    padding: 10px;
    gap: 20px;

    overflow: hidden;
    overflow-y: auto;
}

.tabContent h1 {
    font-size: 1.4rem;
    font-weight: 400;
}

.fileBrowser {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100% - 200px);

    border-radius: 5px;
    border: 1px solid var(--border-gray);
}

.fileTree {
    width: 200px;
    overflow-y: auto;
    padding: 10px 0px 30px 0px;

    border-right: 1px solid var(--border-gray);
}

.fileText {
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc(100% - 200px);
    padding: 20px;
}

.downloadButton {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: var(--block-highlight-background);
    cursor: pointer;
    transition: all 0.3s;
}

.downloadButton:hover {
    background-color: var(--block-highlight-background-tint);
}

.fileText pre {
    width: 100%;
    height: 100%;
    overflow: auto;
    white-space: pre-wrap;
    padding: 0;
}

.noFile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 20px;
}

.noFile p {
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--color-placeholder);
}

.bodyHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    gap: 10px;
    margin-top: 10px;
}

.bodyHeader h1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    font-size: 1.4rem;
    font-weight: 300;
}

.bodyHeader h1 span {
    font-size: 0.9rem;
    font-weight: 300;
    color: var(--color-gray);

    max-height: 20px;
    overflow: hidden;
}

.buttons {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: fit-content;
    height: fit-content;
    gap: 10px;
}

.textButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 30px;
    padding: 0 16px;
    gap: 5px;
    border-radius: 5px;
    background-color: var(--primary);
    border: none;
    outline: none;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s;
}

.textButton p {
    font-size: 0.8rem;
    font-weight: 300;
    color: var(--color-contrast);
}

.textButton:hover {
    opacity: 0.75;
}

.textButton:hover span {
    display: inline;
    position: absolute;
    bottom: 0;
    right: 0;
}

.textButton span {
    margin-right: 5px;
    color: var(--color-gray);
    font-size: 0.7rem;
    font-weight: 300;
    display: none;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    gap: 10px;
}

.section h1 {
    font-size: 1.4rem;
    font-weight: 300;
    margin-top: 10px;
}

.section p {
    font-weight: 300;
}

.section p>span {
    font-size: 1.1rem;
    color: var(--primary);
}

.info {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.info a {
    font-size: 0.8rem;
    font-weight: 300;
    color: var(--primary);
    text-decoration: none;

    width: fit-content;
    background-color: var(--block-highlight-background);
    border-radius: 5px;
    padding: 6px 13px;
    transition: all 0.3s;
}

.info a:hover {
    text-decoration: underline;
}

.info p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    font-size: 1.0rem;
    font-weight: 300;
}

.info p>span {
    font-size: 0.8rem;
    color: var(--color-gray);
}

.statusIcon {
    display: inline-block;
    width: 16px;
    height: 16px;
}

.iframe {
    width: 100%;
    height: 500px;
    border: none;

    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
}

.deleteButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s;
    background-color: transparent;
}

.warnButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 30px;
    padding: 0 10px;
    border-radius: 5px;
    background-color: var(--color-error);
    border: none;
    outline: none;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s;
}

.warnButton p {
    font-size: 0.8rem;
    font-weight: 300;
    color: var(--color-contrast);
}

.warnButton span {
    margin-right: 5px;
    color: var(--color-gray);
    font-size: 0.7rem;
    font-weight: 100;
    display: none;
}

.warnButton:hover {
    opacity: 0.75;
}

.warnButton:hover span {
    display: inline;
    position: absolute;
    bottom: 0;
    right: 0;
}

.inputModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--block-normal-background);
    border: var(--block-normal-border);
    padding: 20px;
    gap: 20px;
    border-radius: 5px;
    box-shadow: var(--shadow-normal);
}

.inputModal h1 {
    font-size: 1.4rem;
    font-weight: 400;
}

.inputModal input {
    width: 100%;
    height: 30px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid var(--border-gray);
    outline: none;
}

.envVars {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.envVar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: fit-content;
}

.envVar p {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    font-weight: 300;
}

.envVar p:nth-child(1)::before {
    content: 'KEY:';
    font-size: 0.6rem;
    font-weight: 300;
    color: var(--color-placeholder);
}

.envVar p:nth-child(2)::before {
    content: 'VALUE:';
    font-size: 0.6rem;
    font-weight: 300;
    color: var(--color-placeholder);
}

.logContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    padding: 30px;

    background-color: #000;
    border-radius: 10px;
    white-space: pre-wrap;
    overflow-y: auto;
}

.log {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    width: 100%;
    padding: 10px 0;

    color: #FFF;
    border-bottom: 0.3px solid #ffffff76;
}

.level {
    width: 72px;
}

.message {
    width: 700px;
}

.log pre {
    white-space: pre-wrap;
    overflow-y: auto;
    margin: 0;
}

.iconButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: var(--block-highlight-background);
    cursor: pointer;
    padding: 10px 20px;
    gap: 15px;
    outline: none;
    border: none;
    transition: all 0.3s;
}

.iconButton p {
    font-size: 0.9rem;
    font-weight: 300;
    color: var(--color-normal);
}

.iconButton:hover {
    background-color: var(--block-highlight-background-tint);
}

.iconButton .image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}

.codeBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 6px 12px;
    border-radius: 5px;
    background-color: var(--block-highlight-background);
    gap: 20px;
}

.codeBlock button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 5px;
    background-color: var(--block-highlight-background);
    cursor: pointer;
    border: none;
    outline: none;
    transition: all 0.3s;
}

.codeBlock button:hover {
    background-color: var(--block-highlight-background-tint);
}