.container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 50px;
    padding: 0px 15px;
    background-color: var(--desktop-color);
    box-shadow: var(--shadow-node);
    color: var(--color-contrast);
    overflow: hidden;
}

.icon {
    position: absolute;
    bottom: 0px;
    right: 40px;
}

.button {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
}

.info h3 {
    margin: 0;
    font-size: 1.0rem;
    font-weight: 300;
}

.info p {
    margin: 0;
    font-size: 0.7rem;
    font-weight: 200;
}