.container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    gap: 10px;
    overflow: hidden;
}

.left {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    gap: 10px;
}

.right {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.detail {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    gap: 24px;
    width: 100%;
    height: 100%;
    padding: 30px 15px;
    border-radius: 5px;

    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

    background: var(--block-highlight-background);
    border: var(--block-highlight-border);
}

.detail::-webkit-scrollbar {
    display: none;
}

.detailImage {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 100%;
    height: 290px;
    border-radius: 10px;
    object-fit: cover;
}

.detailTitle {
    font-size: 1.2rem;
    font-weight: 500;
    white-space: nowrap;
}

.detailSubtitle {
    font-size: 0.9rem;
    font-weight: 300;
    color: var(--color-placeholder);
    white-space: nowrap;
}

.collaborators {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0;
    width: 100%;
}

.collaboratorList {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.infoBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    width: 100%;
}

.infoBlock h3 {
    font-size: 1.0rem;
    font-weight: 400;
    color: var(--color-normal);
    margin: 0;
    white-space: nowrap;
}

.infoBlock p {
    font-size: 0.85rem;
    font-weight: 300;
    color: var(--color-placeholder);
    white-space: nowrap;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    padding: 5px;
}

.appList {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 10px;
    padding: 0px 5px 20px 5px;

    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.appList::-webkit-scrollbar {
    display: none;
}

.loadingWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.noApp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    width: 100%;
    height: 100%;
}

.noApp h1 {
    font-size: 1.5rem;
    color: var(--color-placeholder);
}

.noApp p {
    font-size: 1.0rem;
    color: var(--color-placeholder);
}

@media screen and (max-width: 768px) {}