.container {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 200px;
    height: 100vh;
    border-right: 1px solid var(--border-normal);
    user-select: none;
    background-color: var(--background-normal);
    z-index: 2;
}

.menuList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    padding: 20px 5px 10px 25px;
    gap: 10px;
}

.menuItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 10px 10px;
    transition: all 0.3s;
}

.menuItem:hover {
    background-color: var(--background-alt);
    opacity: 0.8;
    padding-left: 20px;
    color: var(--color-normal);
}

.menuItem:hover p {
    color: var(--color-normal);
}

.menuItem.active {
    background-color: var(--background-alt);
}

.menuItem.active p {
    color: var(--color-normal);
}

.menuItem.active p::before {
    content: "·";
    display: inline-block;
    margin-right: 10px;
}

.menuItem p {
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--color-placeholder);
}

.icon {
    display: none;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: row;
        width: 100%;
    }

    .menuList {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 60px;
        padding: 0 10px;
        gap: 10px;
    }

    .menuItem {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 10px 10px;
    }

    .menuItem:hover {
        background-color: var(--background-alt);
        opacity: 0.8;
    }

    .menuItem p {
        display: none;
    }

    .icon {
        display: block;
    }
}